body{
    background-image: url(hatterkep.jpg);
    background-repeat:repeat;
}

tr:nth-child(odd) td:nth-child(odd){
    padding: 8px;
    background-color: red;
}
tr:nth-child(even) td:nth-child(even){
    padding: 8px;
    background-color:red;
}
tr:nth-child(even) td:nth-child(odd){
    padding: 8px;
    background-color: violet;
}
tr:nth-child(odd) td:nth-child(even){
    padding: 8px;
    background-color:violet;
}
h1,h2{
    color: whitesmoke;
    font-family: sans-serif;
}
.elso-link{
    color: blue;
    text-decoration:none
}
.elso-link:hover{
    text-decoration:underline;
}
.elso-link:active{
    color:yellow;
    text-decoration:none;
    font-size:larger
}
.elso-link:visited{
    color:purple
}
.masodik-link{
    color:violet;
    text-decoration:none;
}
.masodik-link:hover{
  text-decoration:underline;
  color:blueviolet
}
.masodik-link:active{
    font-size: smaller;
}
.masodik-link:visited{
    color:coral
}

ul.elsolista{
    color: green;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
ul.masodiklista{
    color:blue;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.stilus{
    text-align: center;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    color:red
}
.stilus2{
    text-align: justify;
    font-size: large;
}
nav #nav-div{
    border-radius: 30px;
    height: 50px;
    padding:5px;
    border-width:5px;
    border-color: red;
    border-style:solid
}
.div-stilus{
    border-style:dashed;
    padding: 15px 750px 15px 15px;
    border-top-color: orange;
    border-right-color: black;
    border-bottom-color: blue;
    border-left-color: red;
}
.podium{
    display:flex;
    align-items: flex-end;
}
.podium .helyezes{
    width : 130px;
    height : 85px;
    text-align:center;
    transition-property: height,width;
}
.podium .elso-helyezes:hover,
.podium .masodik-helyezes:hover,
.podium .harmadik-helyezes:hover {
    transition-delay: 2s;
}
.podium .elso-helyezes {
    background-color: goldenrod;
    transition-property: height,width;
    transition-delay: 2s;
}

.podium .masodik-helyezes {
    background-color: silver;
    transition-property: height,width;
    transition-delay: 2s;
}

.podium .harmadik-helyezes {
    background-color: #FF9033;
    transition-property: height,width;
    transition-delay: 2s;
}

.podium .elso-helyezes:hover {
    height: 250px;
    width: 200px;
}

.podium .masodik-helyezes:hover {
    height: 220px;
    width: 180px;
}

.podium .harmadik-helyezes:hover {
    height: 200px;
    width: 170px;
}
