header,footer{
    color:whitesmoke;
    font-size: large;
    font-weight: bold;
    font-style:italic;
    font-family: sans-serif
}
body{
    background-image: url("img.jpg");
    background-repeat: no-repeat;
}
.checkbox-osztaly{
display: flex;
align-items: center;
}
.checkbox-osztaly label{
    display: block;
}
.checkbox-osztaly input[type=checkbox]{
    vertical-align: middle; 
    position: relative; 
    bottom: 1px; 
}
#form-id{
    background-color: green;
}